# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependency lock files
yarn.lock

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
dist/
tmp/

# Gemini specific
gemini-config
claude-config

/GEMINI.md
/CLAUDE.md
